[Unit]
Description=Target to all forge services
Requires=multi-user.target
After=multi-user.target
PartOf=containers.target

[Install]
WantedBy=containers.target
