[Container]
ContainerName=authentik-pgsql
DNS=10.0.50.1
EnvironmentFile=seal/env/authentik-pgsql.env
Image=docker.io/library/postgres:16-alpine
IP=10.0.50.82
Network=macv50
Volume=seal/data/authentik-pgsql/pgsql:/var/lib/postgresql/data:Z
PodmanArgs=--cpus 1
PodmanArgs=--mac-address 00:0C:30:D0:D3:C5
PodmanArgs=--memory 512M
AutoUpdate=registry
Pull=newer

[Unit]
After=containers.target

[Install]
WantedBy=containers.target

