prometheus.exporter.unix "{{ inventory_hostname }}" {
  rootfs_path = "/host"
}

prometheus.scrape "{{ inventory_hostname }}" {
  targets    = prometheus.exporter.unix.jellybean.targets
  forward_to = [prometheus.remote_write.jellybean.receiver]
}

prometheus.remote_write "{{ inventory_hostname }}" {
  endpoint {
    url = "{{ config.prometheus_uri }}/api/v1/write"
  }
}

discovery.relabel "journal" {
	targets = []

	rule {
		source_labels = ["__journal__systemd_unit"]
		target_label  = "unit"
	}

	rule {
		source_labels = ["__journal__hostname"]
		target_label  = "host"
	}

	rule {
		source_labels = ["__journal_priority_keyword"]
		target_label  = "level"
	}

	rule {
		source_labels = ["__journal_syslog_identifier"]
		target_label  = "syslog_identifier"
	}
}

loki.source.journal "journal" {
	max_age       = "12h0m0s"
	path          = "/host/log/journal"
	relabel_rules = discovery.relabel.journal.rules
	forward_to    = [loki.write.default.receiver]
	labels        = {
		job = "systemd-journal",
	}
}

loki.source.file "system" {
	targets = [{
		__address__ = "{{ inventory_hostname }}",
		__path__    = "/host/log/*log",
		job         = "varlogs",
	}]
	forward_to = [loki.write.default.receiver]

	file_match {
		enabled = true
	}
	legacy_positions_file = "/tmp/positions.yaml"
}

{% if inventory_hostname in groups['kvm_hosts'] %}
loki.source.file "reverse_proxy" {
	targets = [{
		__address__ = "{{ inventory_hostname }}",
		__path__    = "/host/log/angie-*/*log",
		job         = "varlogs",
	}]
	forward_to = [loki.process.filter_prometheus_scrapes.receiver]

	file_match {
		enabled = true
	}
	legacy_positions_file = "/tmp/positions.yaml"
}
{% endif %}

loki.process "filter_prometheus_scrapes" {
  stage.drop {
    source = ""
    expression = `(?P<prometheus_scrape>GET http \S+ "/p8s" [^"]*"Prometheus[^"]*")`
    drop_counter_reason = "noisy"
  }
  forward_to = [loki.write.default.receiver]
}

loki.write "default" {
	endpoint {
		url = "{{ config.loki_uri }}/loki/api/v1/push"
	}
	external_labels = {}
}
