global:
  scrape_interval: 15s
  evaluation_interval: 15s
{% if config.prometheus_scrape_configs %}

scrape_configs:
{% for job in config.prometheus_scrape_configs %}
  - job_name: {{ job.name }}
{% if job.metrics_path is defined %}
    metrics_path: {{ job.metrics_path }}
{% endif %}
    static_configs:
      - targets: {{ job.targets | tojson }}
{% endfor %}
{% endif %}
