[Unit]
{% if item is defined %}
Description={{
  quadlet.container.desc[quadlet._.container_name ~ '-' ~ item] |
  default(
  quadlet._.container_name | capitalize ~ ' ' ~ item | capitalize ~ ' Container'
  )
}}
{% else %}
Description={{
  quadlet.container.desc[quadlet._.container_name] |
  default(quadlet._.container_name | capitalize ~ ' Container')
}}
{% endif %}
{% for key, value in (systemd_unit | default({})).items() %}
{% if key in ['Requires', 'After'] %}
{{ key }}={{ value | join (' ') }}
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
