user angie;
worker_processes 4;
worker_rlimit_nofile 65536;

pcre_jit on;

error_log /var/log/angie/error.log notice;
pid       /run/angie/angie.pid;

events {
  worker_connections 65536;
}

http {
  include                       /etc/angie/mime.types;
  default_type                  application/octet-stream;
  sendfile                      on;
  server_tokens                 off;
  tcp_nopush                    on;
  tcp_nodelay                   on;
  keepalive_timeout             90s;
  proxy_connect_timeout         90s;
  proxy_send_timeout            90s;
  proxy_read_timeout            90s;
  ssl_prefer_server_ciphers     on;
  gzip                          on;
  proxy_ignore_client_abort     off;
  client_max_body_size          2000m;
  server_names_hash_bucket_size 1024;
  proxy_http_version            1.1;
  proxy_set_header              X-Forwarded-Scheme $scheme;
  proxy_set_header              X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header              Accept-Encoding "";

  resolver host.containers.internal;

  acme_client stepca {{ services[ansible_role_name].config.acme_uri }} challenge={{ services[ansible_role_name].config.challenge }} account_key=/etc/angie/conf/account_key;

  ssl_certificate     $acme_cert_stepca;
  ssl_certificate_key $acme_cert_key_stepca;

  include /etc/angie/conf/http.d/include/log-proxy.conf;

  map $host $forward_scheme {
    default http;
  }

  log_format main     '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

  log_format extended '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" rt="$request_time" '
                      '"$http_user_agent" "$http_x_forwarded_for" '
                      'h="$host" sn="$server_name" ru="$request_uri" u="$uri" '
                      'ucs="$upstream_cache_status" ua="$upstream_addr" us="$upstream_status" '
                      'uct="$upstream_connect_time" urt="$upstream_response_time"';

  access_log /var/log/angie/access.log standard;

  map $http_x_forwarded_proto $x_forwarded_proto {
    "http" "http";
    "https" "https";
    default $scheme;
  }
  map $http_x_forwarded_scheme $x_forwarded_scheme {
    "http" "http";
    "https" "https";
    default $scheme;
  }

  include /etc/angie/conf/http.d/*.conf;
}

stream {
  include /etc/angie/conf/stream.d/*.conf;
}
